<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-header custom-modal-header">
    <button type="button" class="close" aria-label="Close" (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" *ngIf="!form.get('id').value">New User</h4>
    <h4 class="modal-title" *ngIf="form.get('id').value">Modify User</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <label>Email</label><span class="invalid-feedback"> *</span>
        <input class="form-control input-sm" formControlName="email" appTrimInput="true">
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-sm-6">
        <label>First Name</label><span class="invalid-feedback"> *</span>
        <input class="form-control input-sm" formControlName="first_name" appTrimInput="true">
      </div>
      <div class="col-sm-6">
        <label>Last Name</label><span class="invalid-feedback"> *</span>
        <input class="form-control input-sm" formControlName="last_name" appTrimInput="true">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-sm" (click)="onClose()">Cancel</button>
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="form.invalid">Save</button>
  </div>
</form>
