.login-body-new {
  padding: 15px;
  border: 1px solid #ddd;
}
.login-body-new > div {
  margin-bottom: 10px;
}

.input-error {
  border:2px solid red;
}

.input-success {
  border:2px solid green;
}
