<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-3">
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <div class="text-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="newUser()">New User</button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive" *ngIf="userList && userList.length > 0">
      <table class="table table-striped text-center">
        <thead class="bg-sky">
          <tr>
             <th>Employee Name</th>
             <th style="width: 60px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of userList;">
             <td style="text-align: left">{{ obj.first_name }} {{ ' ' + obj.last_name }}</td>

             <td>
               <span style="margin-left: 5px;"><a (click)="newUser(obj)"><i class="glyphicon glyphicon-pencil" title="Modify User's details"></i></a></span>
               <span style="margin-left: 5px;"><a (click)="deleteUser(obj)"><i class="glyphicon glyphicon-trash" title="Delete User"></i></a></span>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-success text-center" *ngIf="userList && userList.length === 0">There are no users added</div>
  </div>
</div>
