<div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <label style="text-align: left; margin-left: 5px; font-weight: lighter; font-family: 'Helvetica';
">XEBRIUM EMPLOYEES</label>

  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <div class="text-right">
      <!--<button type="button" class="btn btn-primary btn-sm" (click)="newUser()">New User</button>-->
      <span class="button-separator">
                    <a title="Add New Employee" (click)="newUser()">
                  <img src='../../../../assets/images/user.png' style="width: 30px; height: 30px">
                </a>
                  </span>

    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="table-responsive"
         style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
         *ngIf="userList && userList.length > 0">
      <table class="table text-center" style="border-radius: 5px;">
        <tr class="bg-sky" style="height: 40px">
          <th class="th-header">EMPLOYEE NAME</th>
          <th style="width: 130px;"></th>
        </tr>
        <tbody>
        <tr class="table-bg" *ngFor="let obj of userList;">
          <td class="rw-title" style="text-align: left">{{ obj.first_name }} {{ ' ' + obj.last_name }}</td>

          <td>
            <span>
              <a (click)="change_order_status(obj.is_ordered, obj.id)">
                <img *ngIf="obj.is_ordered === -1" title="User have not specified anything, Click to mark Yes"
                     src='../../../../assets/images/question.png'
                     style="width: 20px; height: 20px; margin-top: -5px">
                <img *ngIf="obj.is_ordered === 1" title="User specified Yes, Click to mark as No"
                     src='../../../../assets/images/thumbs-up.png'
                     style="width: 20px; height: 20px; margin-top: -5px">
                <img *ngIf="obj.is_ordered === 0" title="User specified No, Click to mark Yes"
                     src='../../../../assets/images/thumb-down.png'
                     style="width: 20px; height: 20px; margin-top: -5px">
              </a>
            </span>
            <span class="button-separator">
              <a (click)="toggleEmailSubscription(obj)">
                  <img title="Unsubscribed, click to subscribe again" *ngIf="obj.unsubscribed"
                       src='../../../../assets/images/unsubscribed.png'
                       style="width: 20px; height: 20px; margin-top: -5px; margin-left: 5px">
                <img title="Subscribed, click to unsubscribe" *ngIf="!obj.unsubscribed"
                     src='../../../../assets/images/subscribed.png'
                     style="width: 20px; height: 20px; margin-top: -5px; margin-left: 5px">
              </a>
            </span>
            <span style="margin-left: 5px;"><a (click)="newUser(obj)"><i class="glyphicon glyphicon-pencil"
                                                                         title="Modify User's details"
                                                                         style="color: #585a5e"></i></a></span>
            <span style="margin-left: 5px;"><a (click)="deleteUser(obj)"><i class="glyphicon glyphicon-trash"
                                                                            title="Delete User"
                                                                            style="color: #585a5e"></i></a></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-success text-center" *ngIf="userList && userList.length === 0">There are no users added
    </div>
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

</div>
