<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/">{{ projectTitle }}</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false" style="margin-top: 15px;">
          <a dropdownToggle class="dropdown-toggle user-setting-btn" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> {{ user.first_name }} <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </li>
  </ul>
  </div>
</div><!--/.navbar -->
