<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-3">
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <table class="table table-condensed" style="border: 1px solid #dddddd;">
        <thead class="bg-sky">
        <tr>
          <th class="th-header">DAY AND DATE</th>
          <th class="th-header">SNACK</th>
          <th class="th-header text-center">PRICE (₹)</th>
        </tr>
        </thead>
        <tbody>
        <ng-container formArrayName="snack_data" *ngFor="let obj of snacks.controls;let index=index;">
          <tr [formGroupName]="index">
            <td style="text-align: left">{{ obj.get('display_date').value}}</td>
            <td style="text-align: left">
              <select class="form-control" [formControlName]="'snack'" (ngModelChange)="setPrice($event, obj)">
                <option [ngValue]="0">Select Snack</option>
                <ng-container *ngFor="let snack of snacksList">
                  <option *ngIf="snack" [ngValue]="snack.id">{{ snack.name }}</option>
                </ng-container>
              </select>
            </td>
            <td class="text-center">
              <input  formControlName="price">
            </td>
          </tr>
        </ng-container>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="3" class="text-right">
            <button type="submit" class="btn btn-primary">Save Snacks</button>
          </td>
        </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>

<!--<tr *ngFor="let obj of snackDayMapping;">-->
<!--<td style="text-align: left">{{ obj.date | date:'EEE dd, MMM yyyy'}}</td>-->
<!--<td style="text-align: left" *ngIf="obj.snack">{{'      ' + obj.snack.snack_name + '      '}}</td>-->
<!--<td style="text-align: left" *ngIf="!obj.snack">Dropdown with selected values</td>-->
<!--<td style="text-align: left"></td>-->
<!--</tr>-->
