<div class="sidebar" [ngClass]="{'in': isShow}">
  <ul class="nav nav-sidebar" style="margin-top: 10px;">
    <ng-template ngFor let-item [ngForOf]="menuList" let-i="index">
      <!--<li class="link-header"><a>{{ item.header }}</a></li>-->
      <ng-container *ngFor="let menu of item.menus">
        <li [ngClass]="{'active-tab': routerLinkActive(menu.url)}">
          <a class="rw-nav" (click)="openRouterLink(menu.url)">
            <table class="table text-center">
            <tr style="align-content: center">
              <img style="height: 30px; width: 30px; margin-bottom: 10px" src="{{menu.image}}">
            </tr>
          <tr style="align-content: center; font-weight: 400">{{ menu.name }}</tr>
            </table>
          </a>
        </li>
        <li><hr style="margin: 0;"></li>
      </ng-container>
    </ng-template>
  </ul>
</div>
