/* You can add global styles to this file, and also import other style files */
/*body {*/
/*overflow-x: hidden;*/
/*-webkit-transition: all 0.5s ease;*/
/*-moz-transition: all 0.5s ease;*/
/*-o-transition: all 0.5s ease;*/
/*transition: all 0.5s ease;*/
/*}*/

/* You can add global styles to this file, and also import other style files */
.bg-sky, .panel-sky > .panel-heading {
  background-color: #eeeeee;
  color: #425f9e;
  font-weight: bold;
}

body {
  background: #fff;
  margin: 50px 0;
  padding: 0;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.back {
  background: rgba(0, 0, 0, .4);
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  text-decoration: none !important;
}

.l {
  float: left;
}

.r {
  float: right;
}

.clr {
  clear: both;
}

.jumbotron {
    background: none;
    padding: 20px 0
}


