/* You can add global styles to this file, and also import other style files */
/*body {*/
/*overflow-x: hidden;*/
/*-webkit-transition: all 0.5s ease;*/
/*-moz-transition: all 0.5s ease;*/
/*-o-transition: all 0.5s ease;*/
/*transition: all 0.5s ease;*/
/*}*/

/* You can add global styles to this file, and also import other style files */
.bg-sky, .panel-sky > .panel-heading {
  background-color: #e5746b;
  /*background-color: #ca5c54;*/
  color: white;
  font-weight: lighter;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.th-header{
  color: white;
  font-weight: 300;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.rw-title{
  color: #585a5e;
  font-weight: 500;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.rw-nav{
  color: #553fc7;
  font-weight: 500;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  /*line-height: 5px;*/
  text-align: center;
  vertical-align: center;
  background: yellow;
  font-weight: lighter;
  font-family: 'Helvetica';
}

body {
  background: white;
  /*background: #e5e5e5;*/
  /*background: #fff;*/
  margin: 70px 0;
  margin-left: 150px;
  /*margin-top: 70px 0;*/
  width: 88%;
  padding: 0;
  color: #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease
}

.back {
  /*background: white;*/
  /*background: #e5e5e5;*/
  background: white;
}

a {
  cursor: pointer;
  text-decoration: none !important;
}

a:hover, a:active, a:focus {
  text-decoration: none !important;
}

.l {
  float: left;
}

.r {
  float: right;
}

.clr {
  clear: both;
}

.jumbotron {
    background: none;
    padding: 20px 0
}

.table-bg{
  background-color: white;
}

.custom-button {
  /*background-color: #ca5c54;*/
  color: #e5746b;
  font-weight: lighter;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}
