<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-3">
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <div class="text-right">
      <button type="button" class="btn btn-primary btn-sm" (click)="newSnack()">New Snack</button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="table-responsive" *ngIf="snackList && snackList.length > 0">
      <table class="table table-striped text-center">
        <thead class="bg-sky">
        <tr>
          <th style="width: 10%">Image</th>
          <th style="width: 80%">Name</th>
          <th style="width: 5%; text-align: left">Price</th>
          <th style="width: 5%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obj of snackList;">
          <td style="text-align:left; width: 130pt;">
            <img width="90" height="90"
                 src="{{ obj.image_url }}"
                 onerror="this.src='../../../assets/images/no_image.jpg';">
          </td>
          <td style="text-align: left">{{ obj.name }}</td>
          <td style="text-align: left">{{ obj.default_price }}</td>
          <td>
            <span style="margin-left: 5px;"><a (click)="newSnack(obj)"><i class="glyphicon glyphicon-pencil"
                                                                          title="Modify Snack details"></i></a></span>
            <span style="margin-left: 5px;"><a (click)="deleteSnack(obj)"><i class="glyphicon glyphicon-trash" title="Delete Snack"></i></a></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-success text-center" *ngIf="snackList && snackList.length === 0">There are no snacks to
      display
    </div>
  </div>
</div>
